<div ng-controller="userController" ng-init="init()">
	<section class="row container-fluid ms-0 me-0 pe-0 ps-0 mt-2" ng-controller="warehouseController" ng-init="findPickslipByKeyword();">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb bg-white">
					<li class="breadcrumb-item"><a href="#/">Dashboard</a></li> 
					<li class="breadcrumb-item"><a href="#/wms-dashboard">WMS</a></li>
					<li class="breadcrumb-item active" aria-current="page">Picking</li>
				</ol>  
			</nav>
			<div class="row">
				<div class="card col-xs-12 col-sm-12 col-md-12">
					<div class="card-body">
						<!-- keyword search box -->
						<div class="card">
							<div class="card-header">
								<small class="float-inline mr-auto">Type in a customer name or sales order number value. As you type the list below will update accordingly. 
								Click on any entry in the list to be directed to the picking details screen. Click the select checkbox beside sales orders that you would
								like to add to a Bulk Pick List.</small>
							</div>
				   			<div class="card-body">
				   				<form name="searchForm" id="searchForm">
				   					<div class="input-group col-sm-12">		   					
				   						<input class="form-control form-control-sm" ng-change="findPickslipByKeyword()"
				   						ng-model="keyword" type="text" placeholder="Keyword Search" id="keyword" name="keyword" />
			   							<button class="btn btn-outline-secondary btn-sm" type="submit" ng-disabled="searchForm.$invalid">
			   								<i class="fa fa-search"></i>
			   							</button>			   						 
				   					</div> 
				   					          		
				            	</form>
				   			</div>
				   		</div>
				   		
				   		<div class="row mt-2" ng-show="searchResults != undefined">
							<div class="col-sm-12">
								<div class="float-right">
									<ul class="pagination">
										<li class="page-item">
											<button type="button" class="btn btn-link page-link" ng-click="findOrderByKeyword(searchResults.page - 1)" ng-disabled="searchResults.hasPrevious == false">Previous</button>
										</li>
										<li class="page-item" ng-repeat="x in [].constructor(searchResults.pages) track by $index">
											<button type="button" ng-disabled="$index == searchResults.page" class="btn btn-link page-link" ng-click="findOrderByKeyword($index)">{{$index + 1}}</button>
										</li>
										<li>
											<button type="button" class="btn btn-link page-link" ng-click="findOrderByKeyword(searchResults.page + 1)" ng-disabled="searchResults.hasNext == false">Next</button>
										</li>
									</ul>
								</div>
							</div>		
						</div>
				   		
						<div class="card mt-2">
							<div class="card-header">
								<div class="row">
									<div class="col-sm-12">
										<h6>
											<span class="font-weight-bold text-uppercase">Sales Orders to Pick</span> 
											<span class="badge bg-dark">{{ searchResults.totalResults }}</span>
										</h6>
										<button class="btn btn-sm btn-outline-success float-end me-2" ng-click="printSelectedBulkPickslip()">Print Selected Bulk Pick Slip</button>
										<button class="btn btn-sm btn-outline-success float-end me-2" ng-click="printBulkPickslip()">Print All Bulk Pick Slip</button>
										<small>Select a Sales Order from the list below to view and manage.</small>
									</div>
								</div>
							</div>
				   			<div class="card-body">
				   				<div class="row">
				   					
				   					<div class="col-sm-12 small">
				   						<table class="table table-striped table-hover table-sm">
						   					<thead>
						   						<tr>
						   							<th>Sales Order Id</th>
						   							<th>Customer</th>
						   							<th>Submitted Date</th>
						   							<th>Ship By Date</th>
						   							<th>Warehouse</th>
						   							<th>Status</th>
						   							<th>Total</th>
						   							<th class="text-center">Add To Bulk List</th>
						   						</tr>
						   					</thead>
						   					<tbody>
						   						<tr ng-repeat="item in searchResults.results">
						   							<td ng-click="viewPickslip(item.id)">{{item.id}}</td>
						   							<td ng-click="viewPickslip(item.id)">{{item.customerName}}</td>
						   							<td ng-click="viewPickslip(item.id)">{{item.submittedDate | date:'medium'}}</td>
						   							<td ng-click="viewPickslip(item.id)">{{item.requestedShipDate | date:'mediumDate'}}</td>
						   							<td ng-click="viewPickslip(item.id)">{{item.warehouseName}}</td>
						   							<td ng-click="viewPickslip(item.id)"><span class="text-success">{{item.state}}</span></td>
						   							<td ng-click="viewPickslip(item.id)"><span ng-bind-html="item.total | supercurrency"></td>
						   							<td class="text-center">
	  													<input class="form-check-input small" type="checkbox" value="item.id" ng-click="toggleSelectedOrders(item.id)" name="selectedOrders" id="selectedOrders" >
						   							</td>
						   						</tr>
						   					</tbody>
						   				</table>
				   					</div>
				   				</div>
				   				
				   			</div>
				   		</div>
				   		<div class="row mt-2" ng-show="searchResults != undefined">
							<div class="col-sm-12">
								<div class="float-right">
									<ul class="pagination">
										<li class="page-item">
											<button type="button" class="btn btn-link page-link" ng-click="findOrderByKeyword(searchResults.page - 1)" ng-disabled="searchResults.hasPrevious == false">Previous</button>
										</li>
										<li class="page-item" ng-repeat="x in [].constructor(searchResults.pages) track by $index">
											<button type="button" ng-disabled="$index == searchResults.page" class="btn btn-link page-link" ng-click="findOrderByKeyword($index)">{{$index + 1}}</button>
										</li>
										<li>
											<button type="button" class="btn btn-link page-link" ng-click="findOrderByKeyword(searchResults.page + 1)" ng-disabled="searchResults.hasNext == false">Next</button>
										</li>
									</ul>
								</div>
							</div>		
						</div>
					</div>
				</div>
			</div>
	
			
			<!-- Toast messaging: set messaging, set whether danger or success -->
			<div ng-include="'/include/components/toast-message.html'"></div>
	    </div>
	    <div class="modal" id="processingDialog" role="dialog">
	        <div class="modal-dialog modal-sm" role="document">
	            <div class="modal-content">
	                <div class="modal-body text-center">
	                    <div class="loader"></div>
	                    <div clas="loader-txt">
	                        <p>{{loadingMessage}}</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
</div>							