<div ng-controller="userController" ng-init="init()">
	<section class="row container-fluid ms-0 me-0 pe-0 ps-0 mt-2" ng-controller="serviceController" ng-init="findAllPhysicalWarehouses();">
		<div ng-controller="organizationController">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb bg-white">
					<li class="breadcrumb-item"><a href="#/">Dashboard</a></li>
					<li class="breadcrumb-item"><a href="#/serviceorder">Service Orders</a></li>
					<li class="breadcrumb-item active" aria-current="page">New Service Order</li>
				</ol>  
			</nav>
			<div class="row mb-2">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="card m-1 h-100">
						<div class="card-body">
							<form name="serviceorderForm" id="serviceorderForm" novalidate ng-submit="saveNewServiceOrder();">
								<div class="row">
									<div class="col-sm-6">
						   				<div class="form-group mt-2">
						   					<div class="input-group">
						   						<label class="pe-2" for="lastModifiedDate"><strong>Supplier</strong></label>
						   						<div class="input-group-append">
				            						<span class="text-danger">*</span>
				            					</div>
						   					</div>
						   					<p><small>Click the search button to search for the supplier organization.</small></p>
						   					<div class="input-group">
		  										<input ng-disabled="false" required class="form-control form-control-sm" type="text" name="supplierId" id="supplierId" ng-model="serviceorder.supplier.name"
		  										ng-class="{'is-invalid': serviceorderForm.supplierId != undefined && serviceorderForm.supplierId.$invalid, 'is-valid':  serviceorderForm.supplierId != undefined && serviceorderForm.supplierId.$valid }"/>
		  										<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#supplierModal">
		  											<i class="fa fa-search"></i>
		  										</button>
											</div>
						   					
						   				</div>
						   			</div>
						   			<div class="col-sm-6">
			   							<div class="form-group mt-2">
						   					<div class="input-group">
						   						<label class="pe-2" for="size"><strong>Physical Warehouse</strong></label>
						   						<div class="input-group-append">
				            						<span class="text-danger">{{(warehouses.length > 1 ? '*' : '')}}</span>
				            					</div>
						   					</div>
						   				</div>
						   				<p><small>Select the physical warehouse for this service order. All inventory items added to a service order must reside in the same
						   				physical warehouse.</small></p>
						   				<div class="input-group mb-3">
											<button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select Warehouse</button>
											<ul class="dropdown-menu">
												<li ng-repeat="item in warehouses">
													<a class="dropdown-item" href="" ng-click="setWarehouse(item);">
														{{item.name}}
													</a>
												</li>
											</ul>
											<input ng-required="warehouses.length > 1" ng-disabled="true" type="text" class="form-control form-control-sm" name="warehouse" id="warehouse" ng-model="serviceorder.warehouse.name" /> 
										</div>
			   						</div>
						   			<div class="col-sm-6">
						   				<div class="form-group mt-2">
						   					<div class="input-group">
						   						<label class="pe-2" for="requestedDate"><strong>Requested By Date</strong></label>
						   						<div class="input-group-append">
				            						<span class="text-danger"></span>
				            					</div>
						   					</div>
						   					<p><small>If required, set the date the services are requested by.</small></p>
						   					<input class="form-control form-control-sm" type="date" name="requestedDate" id="requestedDate" ng-model="serviceorder.requestedByDate"/>
						   				</div>
						   			</div>
						   			<div class="col-sm-6">
						   				<div class="form-group mt-2">
						   					<div class="input-group">
						   						<label class="pe-2" for="requestedDate"><strong>Special Instructions</strong></label>
						   						<div class="input-group-append">
				            						<span class="text-danger"></span>
				            					</div>
						   					</div>
						   					<p><small>Add any necessary special instructions.</small></p>
						   					<textarea class="form-control form-control-sm" rows="5" ng-model="serviceorder.instructions"></textarea>
						   				</div>
						   			</div>
						   			<div class="col-sm-6 h-100">
										<strong>Supplier Address</strong>
										<div class="card card-body">
											<div class="row" ng-show="addresses.length > 1">
												<div class="col-lg-12" ng-show="addresses != undefined && addresses.length > 0">
									   				<div class="form-group mt-2">
									   					<div class="input-group">
									   						<label class="pe-2" for="address"><strong>Supplier Addresses</strong></label>
									   						<div class="input-group-append">
							            						<span class="text-danger">*</span>
							            					</div>
									   					</div>
									   					<p><small>Select a supplier address from the dropdown to ship the Service Order to. You can manually change the Service Order address 
									   					values at any time.</small></p>
									   				</div>
									   				<div class="input-group mb-3">
														<button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select Address</button>
														<ul class="dropdown-menu">
															<li ng-repeat="address in addresses">
																<a class="dropdown-item" href="" ng-click="setSupplierAddress(address)">
																	{{address.address1}} {{address.city}}
																</a>
															</li>
														</ul>
													</div>
									   			</div>
									   		</div>
											<div class="row">
												<div class="col-lg-6">
									   				<div class="form-group mt-2">
									   					<div class="input-group">
									   						<label class="pe-2" for="obContactName"><strong>Contact Name</strong></label>
									   						<div class="input-group-append">
							            						<span class="text-danger"></span>
							            					</div>
									   					</div>
									   					<input class="form-control form-control-sm" type="text" name="obContactName" id="obContactName" ng-model="serviceorder.supplierAddress.contactName"
									   					ng-class="{'is-invalid': serviceorderForm.obContactName.$touched && serviceorderForm.obContactName.$invalid, 
									   					'is-valid':serviceorderForm.obContactName.$touched && serviceorderForm.obContactName.$valid }"/>
									   				</div>
									   			</div>
									   			<div class="col-lg-6">
									   				<div class="form-group mt-2">
									   					<div class="input-group">
									   						<label class="pe-2" for="obContactEmail"><strong>Contact Email</strong></label>
									   						<div class="input-group-append">
							            						<span class="text-danger"></span>
							            					</div>
									   					</div>
									   					<input class="form-control form-control-sm" type="text" name="obContactEmail" id="obContactEmail" ng-model="serviceorder.supplierAddress.contactEmail"
									   					ng-class="{'is-invalid': serviceorderForm.obContactEmail.$touched && serviceorderForm.obContactEmail.$invalid, 
									   					'is-valid': serviceorderForm.obContactEmail.$touched && serviceorderForm.obContactEmail.$valid }"/>
									   				</div>
									   			</div>
												<div class="col-lg-6">
													<div class="form-group mt-2">
									   					<div class="input-group">
									   						<label class="pe-2" for="obAddress1"><strong>Address 1</strong></label>
									   						<div class="input-group-append">
							            						<span class="text-danger">*</span>
							            					</div>
									   					</div>
									   					<input required class="form-control form-control-sm" type="text" name="obAddress1" id="obAddress1" ng-model="serviceorder.supplierAddress.address1"
									   					ng-class="{'is-invalid': serviceorderForm.obAddress1.$touched && serviceorderForm.obAddress1.$invalid, 
									   					'is-valid': serviceorderForm.obAddress1.$touched && serviceorderForm.obAddress1.$valid }"/>
									   				</div>
								   				</div>
								   				<div class="col-lg-6">
									   				<div class="form-group mt-2">
									   					<div class="input-group">
									   						<label class="pe-2" for="obAddress2"><strong>Address 2</strong></label>
									   						<div class="input-group-append">
							            						<span class="text-danger"></span>
							            					</div>
									   					</div>
									   					<input class="form-control form-control-sm" type="text" name="obAddress2" id="obAddress2" ng-model="serviceorder.supplierAddress.address2"/>
									   				</div>
								   				</div>
								   				<div class="col-lg-6">
									   				<div class="form-group mt-2">
									   					<div class="input-group">
									   						<label class="pe-2" for="obAddress3"><strong>Address 3</strong></label>
									   						<div class="input-group-append">
							            						<span class="text-danger"></span>
							            					</div>
									   					</div>
									   					<input class="form-control form-control-sm" type="text" name="obAddress3" id="obAddress3" ng-model="serviceorder.supplierAddress.address3"/>
									   				</div>
									   			</div>
									   			<div class="col-lg-6">
									   				<div class="form-group mt-2">
									   					<div class="input-group">
									   						<label class="pe-2" for="obCity"><strong>City</strong></label>
									   						<div class="input-group-append">
							            						<span class="text-danger">*</span>
							            					</div>
									   					</div>
									   					<input required class="form-control form-control-sm" type="text" name="obCity" id="obCity" ng-model="serviceorder.supplierAddress.city"
									   					ng-class="{'is-invalid': serviceorderForm.obCity.$touched && serviceorderForm.obCity.$invalid, 
									   					'is-valid': serviceorderForm.obCity.$touched && serviceorderForm.obCity.$valid }"/>
									   				</div>
									   			</div>
									   			<div class="col-lg-6">
						   							<div class="form-group mt-2">
									   					<div class="input-group">
									   						<label class="pe-2" for="country"><strong>Country</strong></label>
									   						<div class="input-group-append">
							            						<span class="text-danger">*</span>
							            					</div>
									   					</div>
									   				</div>
									   				<div class="input-group mb-3">
														<button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select Country</button>
														<ul class="dropdown-menu">
															<li class="m-2">  
																<label class="pe-2" for="cFilter"><strong>Filter: </strong></label> 					
											   					<input class="form-control form-control-sm" type="text" name="bCountryFilter" id="bCountryFilter" ng-model="bCountryFilter"/>	
															</li>
															<li ng-repeat="item in countries | filter: bCountryFilter | orderBy: '+isoCode'">
																<a class="dropdown-item" href="" ng-click="setServiceOrderCountry(item.isoCode)">
																	{{item.name}}
																</a>
															</li>
														</ul>
														<input required ng-disabled="true" type="text" class="form-control form-control-sm" name="country" id="country" ng-model="serviceorder.supplierAddress.country" /> 
													</div>
						   						</div>
						   						<div class="col-lg-6">
						   							<div class="form-group mt-2">
									   					<div class="input-group">
									   						<label class="pe-2" for="bProvince"><strong>Province/State</strong></label>
									   						<div class="input-group-append">
							            						<span class="text-danger"><span ng-if="serviceorder.supplierAddress.country == 'CA' || serviceorder.supplierAddress.country == 'US'">*</span></span>
							            					</div>
									   					</div>
									   				</div>
									   				<div class="input-group mb-3" ng-if="serviceorder.supplierAddress.country == 'CA' || serviceorder.supplierAddress.country == 'US'">
														<button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select Province/State</button>
														<ul class="dropdown-menu">
															<li class="m-2">  
																<label class="pe-2" for="cFilter"><strong>Filter: </strong></label> 					
											   					<input class="form-control form-control-sm" type="text" name="bProvinceFilter" id="bProvinceFilter" ng-model="bProvinceFilter"/>	
															</li>
															<li ng-repeat="item in bCountry.provinces | filter: bProvinceFilter | orderBy: '+isoCode'">
																<a class="dropdown-item" href="" ng-click="setServiceOrderProvince(item.isoCode)">
																	{{item.name}}
																</a>
															</li>
														</ul>
														<input required ng-disabled="true" type="text" class="form-control form-control-sm" name="bProvince" id="bProvince" ng-model="serviceorder.supplierAddress.province" /> 
													</div>
													<div class="input-group mb-3" ng-if="serviceorder.supplierAddress.country != 'CA' && serviceorder.supplierAddress.country != 'US'">
														<input type="text" class="form-control form-control-sm" name="bProvince" id="bProvince" ng-model="serviceorder.supplierAddress.province"/>
													</div>
						   						</div>
									   			<div class="col-lg-6">
									   				<div class="form-group mt-2">
									   					<div class="input-group">
									   						<label class="pe-2" for="obPostalCode"><strong>Postal Code</strong></label>
									   						<div class="input-group-append">
							            						<span class="text-danger"><span ng-if="serviceorder.supplierAddress.country == 'CA' || serviceorder.supplierAddress.country == 'US'">*</span></span>
							            					</div>
									   					</div>
									   					<input ng-required="serviceorder.supplierAddress.country == 'CA' && serviceorder.supplierAddress.country == 'US'"
									   					class="form-control form-control-sm" type="text" name="obPostalCode" id="obPostalCode" ng-model="serviceorder.supplierAddress.postalCode"
									   					ng-class="{'is-invalid': serviceorderForm.obPostalCode.$touched && serviceorderForm.obPostalCode.$invalid, 
									   					'is-valid': serviceorderForm.obPostalCode.$touched && serviceorderForm.obPostalCode.$valid }"/>
									   				</div>
									   			</div>
									   			<div class="col-lg-6">
									   				<div class="form-group mt-2">
									   					<div class="input-group">
									   						<label class="pe-2" for="obPhone"><strong>Phone</strong></label>
									   						<div class="input-group-append">
							            						<span class="text-danger"></span>
							            					</div>
									   					</div>
									   					<input class="form-control form-control-sm" type="text" name="obPhone" id="obPhone" ng-model="serviceorder.supplierAddress.phone"
									   					ng-class="{'is-invalid': serviceorderForm.obPhone.$touched && serviceorderForm.obPhone.$invalid, 
									   					'is-valid': serviceorderForm.obPhone.$touched && serviceorderForm.obPhone.$valid }"/>
									   				</div>
									   			</div>
							   				</div>
										</div>
									</div>
						   			
								</div>
								<div class="row mt-3">
									<div class="col-sm-12 text-end">
										<button type="submit" ng-disabled="serviceorderForm.$invalid" class="btn btn-outline-success m-1 btn-sm">Save Service Order</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
	    </div>	
	    
	    <div class="modal" id="processingDialog" role="dialog">
	        <div class="modal-dialog modal-sm" role="document">
	            <div class="modal-content">
	                <div class="modal-body text-center">
	                    <div class="loader"></div>
	                    <div clas="loader-txt">
	                        <p>{{loadingMessage}}</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    
	    <div class="modal" id="supplierModal" role="dialog">
	    	<div class="modal-dialog modal-sm" role="document">
	    		<div class="modal-content">
	    			<div class="modal-body">
	    				<div class="row mt-1">
							<div class="col-sm-12">
								<span class="float-end me-2" data-bs-dismiss="modal"><i class="fas fa-times text-danger"></i></span>
							</div>
						</div>
	    				<div class="row">
	    					<div class="col-sm-12">
	    						<form name="searchForm" id="searchForm">
				   					<div class="input-group input-group-sm">		   					
				   						<input class="form-control form-control-sm" ng-focus="focusSearch" required ng-change="findSuppliersByKeyword()"
				   						ng-model="keyword" type="text" placeholder="Keyword Search" id="keyword" name="keyword">
			   							<button class="btn btn-outline-secondary btn-sm" type="submit" ng-disabled="searchForm.$invalid">
			   								<i class="fa fa-search"></i>
			   							</button>			   						 
				   					</div>        		
				            	</form>
				            	<p class="mt-2 small">Type in a supplier name and the list below will update as matches are found. Click on a supplier in the list to
				            	assign to the purchase order.</p>
	    					</div>
	    				</div>
	    				<div class="row mt-2">
	    					<div class="col-sm-12">
	    						<strong><small>Results:</small></strong><small><span class="ms-2 badge bg-dark">{{searchResults.totalResults}}</span></small>
	    					</div>
	    				</div>
						<div class="row mt-3">
							<div class="col-sm-12">
								<table class="table table-striped table-hover small">
									<thead>
										<tr>
											<th>Supplier Name</th>
											<th>Region</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-show="searchResults.results.length < 1 || searchResults.results == undefined">
				   							<td colspan="2" class="text-center text-danger"><strong>No Results</strong></td>
				   						</tr>
				   						<tr ng-repeat="item in searchResults.results" ng-click="setOrganization(item.id, item.name)">
				   							<td>{{item.name}}</td>
				   							<td>{{item.city}} - {{item.country}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>   	
		            	<div class="row mt-3">
							<div class="col-sm-12 text-end">
								<button type="button" class="btn btn-outline-danger m-1 btn-sm" data-bs-dismiss="modal">Close</button>
							</div>
						</div>			
	    			</div>
	    		</div>
	    	</div>
	    </div>
	    </div>
	</section>
</div>