<html>
	<head>
		<title>BusinessHub - Forgot Password</title>		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta name="description" content="">
    	
    	<link href="https://fonts.googleapis.com/css?family=Bungee|Open+Sans+Condensed:300" rel="stylesheet">
    	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    	
    	<style>
    		.center {
				text-align: center;
			}
			
			.left {
				text-align: left;
			}
			
			.right {
				text-align: right;
				
			}
    	</style>
		
	</head>
	<body>
		<div style="max-width:500px;margin:auto;padding-top:50px;font-family: 'Open Sans Condensed', sans-serif;">
			<table width="100%">
				<tbody>
					<tr>
						<td class="center">
							<img src="https://gap-bizhub.globalairparts.ca/assets/images/logos/gap-logo.png" style="width:300px;height:auto;" />
						</td>
					</tr>
					<tr>
						<td class="center">
							<h2>You have requested a new password.</h2>
						</td>
					</tr>
					<tr>
						<td>
							<p>
								<strong>Hello ${(user.firstName)!},</strong>
							</p>
							<p class="left">
								A new password has been generated for you. To access the BusinessHub with your new password go to the login screen and enter
								your email address and this new password. You can change your password to something else after logging in 
								by changing it in the "My Account" section accessible through the top navigation.
							</p>
							
							<h4 class="center">${(password)!}</h4>
						</td>
					</tr>
					<tr>
						<td class="left">
							If you are still having difficulties loging into your account with the new password, contact your administrator.
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>